body {
    overflow-x: hidden;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 50px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}

.homepage-photo, .homepage-button {
    cursor: pointer;
  }

.dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 30px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-icon {
    cursor: pointer;
  }

.dropdown-item.logout {
    color: red;
  }

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.homepage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white; /* Or any color that matches your design */
    z-index: 100; /* To ensure the header is always on top */
    margin-top: -100px;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.homepage-header.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.homepage-header.scrolled h1,
.homepage-header.scrolled .user-info span {
    color: white;
    transition: color 0.3s ease;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 100px; /* Adjust this value as needed */
}

.user-info span {
    margin: 0 10px;
}

.overlay-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top right, lightblue, lightcoral);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    z-index: 1000; /* To ensure the box is always on top */
    animation: fadeIn 0.5s ease-in-out;
    width: 70%; /* Adjust this value to change the width of the box */
    height: 70%; /* Adjust this value to change the height of the box */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.overlay-title {
    text-align: center;
    margin-left: 100px;
}

.overlay-description {
    text-align: justify;
    color: black;
    margin-top: 20px; /* Adjust as needed */
    margin-left: 100px;
}

.overlay-content {
  display: flex;
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
}

.overlay-image {
  width: 50%; /* Adjust as needed */
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.overlay-text {
  width: 50%; /* Adjust as needed */
  padding: 20px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
    
.homepage-photo-scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px; /* Adjust this value based on the size of your images and the desired space */
    overflow-y: auto;
}
  
  .homepage-photo {
    flex: 1 0 30%; /* grow | shrink | basis */
    margin: 5px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
  }

a {
    text-decoration: none;
    color: inherit;
}

.homepage-title {
    transition: transform 0.3s ease; /* Change this line */
    cursor: pointer;
    transform-origin: left top;
}

.homepage-title:hover {
    transform: scale(1.1); /* Add this line */
}

.homepage-box {
    position: relative;
    margin: 50px;
    margin-top: 100px; 
    margin-left: 100px;
    padding: 20px;
    width: 90%;
    height: 20%;
    border-radius: 10px;
    box-sizing: border-box;
    border: rgba(0,0,0,0) 1px solid;
    background-image: linear-gradient(to top right, lightblue, lightcoral);
}

.homepage-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;    
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease; /* Change this line */
}

.homepage-button:hover {
    transform: scale(1.1); /* Add this line */
}

.homepage-header h1 {
    margin: 0;
    padding: 0;
    margin-left: 40px; /* Add this line */
}

.homepage-header h2 {
    font-size: 5em;
    margin-bottom: 10px;
}

.homepage-header p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.homepage-container {
    transform: scale(1);
}

@media (min-width: 1201px) {
    .homepage-container {
        transform: scale(1.25);
    }
}

@media (max-width: 1200px) {
    .homepage-container {
        transform: scale(1);
    }
}

@media (max-width: 800px) {
    .homepage-container {
        transform: scale(0.75);
    }
}

@media (max-width: 500px) {
    .homepage-container {
        transform: scale(0.5);
    }
}